/* вначале описываем глобальные переменные
и глобальные классы*/
:root {
    --main-bg-color-first : #fff;
    --main-bg-color-second: #F6F6F6;
}
.g-section.section-wrapper {
    width: 80%;
    margin: 0 auto;
    background-color: var(--main-bg-color-first);
}

/*код пишу я*/
.section-intro {
    font-family: "Gilroy-Bold", sans-serif;
}

/* после этого коментария
свои стили пишешь ты*/





